
body {
    padding: 0;
    margin: 0;
}

section {
    color:white;
}

section a:link {
    color: white;
}
@keyframes showcontent{
    from{
        opacity:0;
        transform: translate(0,100px);
        filter: blur(33px);
    }
    to{
        opacity:1;
        transform: translate(0,0);
        filter: blur(0);
    }
}

.region-heading{
    height:100vh;
    background-image:linear-gradient(rgba(12,3,51,0.3),rgba(12,3,51,0.3));
    position:relative;
    padding:0 5%;
    display:flex;
    flex-wrap:wrap;
    align-items:center;
    justify-content:center;
    overflow: hidden;
}
.region-heading-video{
    position:absolute;
    right:0;
    top:-69px;
    z-index:-1;
}

@media(min-aspect-ratio:16/9){
    .region-heading-video{
        width:100%;
        height:auto;
    }
}
@media(max-aspect-ratio:16/9){
    .region-heading-video{
        width:auto;
        height:100%;
    }
}
.region-heading-video-shadow{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    background: linear-gradient(180deg,
                hsla(0,0%,0%,0)0%,
                hsl(0,0%,0%)65%);
}
.region-heading-content{
    position:relative;
    text-align:center;
    z-index:1;
}
.region-heading-content h1{
    font-family:'Poppins', sans-serif;
    font-size:160px;
    color:#fff;
    font-weight:600;
    transition:0.5s;
    margin-bottom: 50px;
    animation: showcontent 1s ease-in-out 1 forwards;
}
.region-heading-content h1:hover{
    -webkit-text-stroke:2px #ffe100;
    color:transparent;
}
.region-heading-content p{
    color:#fff;
    animation: showcontent 1s ease-in-out 0.3s 1 forwards;
    line-height:1.5;
    margin-top:20px;
    font-size:120%;
}
.region_body_eastasia{
    background-color: black;
    padding: 40px 30px;
    display:flex;
    flex-wrap:wrap;
    gap:30px;
    justify-content: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
}

.fun-facts{
    display:flex;
    flex-direction:column;
    margin-right:50px;
    justify-content:center;
    align-items: center;
}

.sichuan{
    position: relative;
    color:#fff;
    height: 450px;
    background-image: linear-gradient(180deg,
                    hsla(0,0%,0%,0)0%,
                    hsl(0, 0%, 0%)90%);
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    border-radius: 5%;
}

.sichuan h1{
    font-size: 60px;
    margin:10px 0 10px 10px;
}
.sichuan p{
    position: absolute;
    left: 0;
    bottom: 0;
    margin:0 0 25px 25px;
    color:#aeacac;
    font-size:20px;
}
.boba h1{
    font-family: 'Italiana', sans-serif;
    font-size:50px;
    text-align: center;
}
.boba-content{
    align-items:center;
    display:flex;
   
}
.boba-content img{
    border-radius: 5%;
    width:300px;
    height:auto;
}
.boba-content-desc{
    margin: -5% 0 0 5%;
}
.boba-content-desc h3{
    font-size: 25px;
}
.boba-selector{
    font-size:20px;
}
.boba-selector li{
    margin-bottom: 10px;
}

.taste-the-trend {
    display:flex;
    flex-direction:column;
    align-items: center;
}
.taste-the-trend h1{
    font-size:50px;
}
.taste-the-trend-content{
    display:flex;
    align-items:center;
    margin-bottom:20px;
}
.taste-the-trend-content img{
    max-width:650px;
    margin:20px 20px 0 0;
    border-radius: 10%;
    width: 200px;
    height: auto;
}
.taste-the-trend-desc{
    max-width:300px;
}
.taste-the-trend-desc h3{
    margin:0 0 10px 0;
    font-family: 'Italiana', sans-serif;
}
.taste-the-trend-desc p{
    margin:0 0 10px 0;
    color:#c2c2c2;
    text-align:justify;
}
.taste-the-trend-button{
    display:flex;
    align-items:center;
    background-color: rgba(0, 0, 0, 0);
    color:rgba(255, 255, 255, 0.582);
    border:none;
    border-radius:1000px;
    padding:20px;
    font-size:15px;
    cursor:pointer;
}
.taste-the-trend-button:hover{
    background-color: rgba(255, 255, 255, 0.275);
}

.region-shadow{
    height:300px; 
    position: relative;
    background: linear-gradient(to bottom, black, #e5ddd2);
    display:flex;
    flex-direction: column;;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin:-1px 0 0 0;
}

.region-shadow h1{
    color: white;
    font-size:50px;
    margin:0;
    text-shadow: 2px 2px 5px rgba(159, 156, 156, 0.7);
}

/*Filter for Food Gallery*/
.food-filter{
    display:flex;
    flex-wrap:wrap;
    align-items: center;
    gap:15px;
    margin:20px;
}
.food-filter button{
    font-family: 'Playfair Display';
    color:white;
    font-size:20px;
    margin: 10px 5px 0 0;
    border:none;
    background-color: #ffffff00;
    cursor:pointer;
    border-radius:1000px;
    padding:10px;
}
.food-filter button:hover{
    background-color: rgba(51, 51, 51, 0.138);
}
.food-filter button.active{
    background-color: rgba(0, 0, 0, 0.164);
}
.food-item.hide{
    display:none;
}

/*Food Gallery*/
.food-gallery{
    display:flex;
    flex-wrap:wrap;
    gap:50px;
    padding:0 10% 20px 10%;
    background-color:#e5ddd2;
    justify-content: center;
}
.food-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    border: 2px dotted #333;
    box-shadow: 2px 2px 8px #333;
    flex-basis:370px;
    background:none;
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 1s ease, transform 1s ease;
}

.food-item.visible {
    opacity: 1;
    transform: translateY(0);
}

@keyframes slideUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.food-image{
    width:80%;
    height:auto;
    object-fit:cover;
    border-radius:50%;
    box-shadow:10px 30px 8px rgba(0,0,0,0.3);
    margin:20px 20px 20px 20px;
}
.food-description{
    padding: 15px;
    font-size:15px;
    text-align: center;
}
.food-description h2 {
    font-family: 'Italiana', sans-serif;
    margin: 0 0 10px 0;
    font-size: 25px;
    color:rgb(0, 0, 0);
    text-shadow:5px 2px 5px rgb(93, 93, 93);
}
.food-description p {
    margin: 0 0 10px 0;
    color: #666;
}
.food-gallery-button{
    color: #666;
    padding:10px;
    border:none;
    border-radius:1000px;
    cursor:pointer;
    background-color: rgba(0, 0, 0, 0);
}
.fa-solid{
    color:#666;
}
.food-gallery-button:hover{
    background-color: rgba(114, 114, 114, 0.275);
}
.flagIcon-foodName{
    display:flex;
    align-items: center;
    justify-content: center;
}
.flagIcon{
    width:30px;
    height:auto;
    margin: 0 10px 10px 0;
}
.flagIcon-countryName {
    position: relative;
    display: flex;
    
}
.countryName {
    visibility: hidden;
    width: auto;
    background-color: #5555556f;
    color: #fff;
    text-align: center;
    border-radius: 100px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom:125%;
    left:50%;
    margin-left:-30px;
    opacity: 1;
    transition: opacity 0.3s;
}
.flagIcon-countryName:hover .countryName {
    visibility: visible;
    opacity: 1;
}

/*Scroll Bar*/
::-webkit-scrollbar{
    width:15px;
}
::-webkit-scrollbar-track{
    background:rgb(0, 0, 0);
}
::-webkit-scrollbar-thumb{
    background: linear-gradient(#642bff, #ff22e6);
    border-radius:100vw;
}
::-webkit-scrollbar-thumb:hover{
    background: linear-gradient(#3100b8, #950183);
}


@media screen and (max-width: 480px){
    .region-heading-content h1{
        margin-bottom: 80px;
        font-size: 90px;
    }
    .sichuan h1{
        font-size: 50px;
    }
    
    .boba-content{
        flex-direction: column;
    }

    .food-filter{
        justify-content: center;
    }
}